<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8">
    <meta content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport"/>

    <meta name="keywords" content="动漫,喵喵漫画动漫,漫画,动画,原创,正版,火影忍者,海贼王,捕王,充气女神,喵喵漫画官方网站"/>
    <meta name="description"
          content="正版动漫网站，连载众多原创国漫，原创动画，正版日漫等海内外最热正版动漫内容，为上千万动漫爱好者提供漫画、动画、资讯、论坛一站式全方位动漫服务，为原创动漫作者提供最优质的创作成长环境，为中国动漫产业打造梦想舞台。"/>
    <link href="/assets/css/base.css?v=21" rel="stylesheet" type="text/css">
    <link href="/assets/css/loading.css" rel="stylesheet"/>

    <title>喵喵漫画 - 出轨的女人</title>


    <link href="/assets/css/detail.css?t=21" rel="stylesheet"/>


</head>
<body>


<input type="hidden" value="http://img2.xmh222.com//uploadfiles/20180906/small/71105dfc500140ffbabf1af66b635a4a313.jpg"
       id="novelImg"/>
<input type="hidden" th:value="${cartoon.rowId}" id="novelId"/>
<input type="hidden" th:value="${cartoon.rowId}" id="snovelId"/>
<input type="hidden" th:value="${cartoon.hidprice}" id="hidprice"/>
<section class="detailBox">
    <div class="detailtop">
        <a href="javascript:history.go(-1);" class="back01"></a><a href="UserCartoon" class="mybooks01"
                                                                   style="width:60px; color:#fff; line-height:22px; background:none">书架</a>
        <a href="/" class="home"></a>
    </div>
    <div class="detailCover clf">
        <a href="#" class="fl w30"><img
                th:src="${cartoon.image}"
                height="100"></a>
        <div class="fr w65">
            <b class="booktitle" th:text="${cartoon.title}">出轨的女人</b>
            <div style="line-height:25px; font-size:0.7em">
                <p>作者：<a th:href="'/home/Search?keyValue='+${cartoon.author}" th:text="${cartoon.author}"></a></p>
                <p>
                    状态：<a>宅系 | </a>
                    <a>连载中</a>
                </p>
                <p th:text="'阅读：'+${cartoon.visitCount}+' 次'"></p>
            </div>
        </div>
    </div>
    <div class="detailBG" id="GaussianBlur">

    </div>
</section>
<section class="block">
    <div class="detailBtnBox clf">

        <a href="/Cartoon/Read?cartoonId=137&amp;chapterId=7245" id="startUrl" class="readBtn on"
           style="width:45%">开始阅读</a><a href="javascript:void(0);" id="add" class="readBtn" style="width:45%"
                                        onclick="AddUserBook(137)">+ 加入书架</a><a href="javascript:void(0);"
                                                                                style="display:none; width:45%"
                                                                                class="readBtn off" id="del">已加入书架</a>
    </div>

    <div class="detailBoxdesc" onclick="showMore(this)" th:text="${cartoon.des}">

    </div>
    <div class="detailBoxdesc" style="display:block;">
        <span style="float: left">标签：</span>
        <ul style="list-style:none;padding:0;margin:0;float: left;text-decoration: none; ">
            <li style="display:inline;" th:each="item : ${cartoon.getTypeList()}"><a
                    th:href="'/home/Search?keyValue='+${item.getRowid()}" class="tag blueTag"
                    th:text="${item.getTitle()}"></a></li>
        </ul>

    </div>

</section>


<section class="block">
    <div class="titleBar clf"><i class="fl">目录章节</i><a href="javascript:void(0);" class="fr red orderBtn02" id="asc"
                                                       style="display:none;" onclick="IndexOrderBy(0)">正序</a><a
            href="javascript:void(0);" id="desc" class="fr red orderBtn01" onclick="IndexOrderBy(1)">反序</a></div>
    <ul class="mh_list clf">

        <li>
            <a href="/Cartoon/Read?cartoonId=137&amp;chapterId=7449" class="imgs fl" style="padding:0">
                <img src="http://img2.xmh222.com//cartoonchaps/137/7449.jpg"
                     onerror="this.src = '/assets/images/cover.jpg'"
                     alt="http://img2.xmh222.com//cartoonchaps/137/7449.jpg">
            </a>
            <a href="/Cartoon/Read?cartoonId=137&amp;chapterId=7449" class="red w50">新 第37话 </a>
            <i class="vip">
                50阅币
            </i>
        </li>
    </ul>
    <ul class="mh_list clf" id="chapter"></ul>

    <a  th:href="'/cartoondetail/ChapterList/'+${cartoon.getRowId()}" class="clickmore">查看全部目录</a>
</section>


<script type="text/template" id="chaptermb">

    <li>

        <a href="{href}" class="imgs fl" style="padding:0">
            <img src="{img}"
                 onerror="this.src = '/assets/images/cover.jpg'" alt="{img}">
        </a>

        <a href="{href}" class="w50">{name}</a><i class="{freeclass}">{isfree}</i>

    </li>

</script>

<section class="block" style="display:none" id="recommdiv">
    <div class="titleBar clf"><i class="fll"></i></div>
    <div>
        <ul class="book_list01"></ul>
    </div>
</section>

<script type="text/html" id="litemp">
    <li style="display:none" id="showli{id}">
        <a href="{nlink}">
            <img src="{imgurl}" width="100" onerror="this.src = '/assets/images/cover.jpg'">
        </a>
        <span class="booktitle">{name}</span>
    </li>

</script>

<div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>


<script src="/assets/js/jquery.min.js?t=1"></script>


<script src="/assets/js/loadImg.js"></script>

<script>
    window.onload = function () {
        //UserCoin();

        //开始阅读链接
        IndexOrderBy(0);
        ////是否加入书架
        IsRank();

        //毛玻璃效果延时加载
        var GaussianBlur = document.getElementById("GaussianBlur");
        var novelImg = document.getElementById("novelImg");
        setTimeout(function () {
            GaussianBlur.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="wh100">' +
                '<filter id="blur">' +
                '<feGaussianBlur in="SourceGraphic" stdDeviation="40" />' +
                '</filter>' +
                '<image filter="url(#blur)" x="0" y="0" width="800" height="800" xlink:href=' + novelImg.value + ' alt="" style=" margin-top:-50px; margin-left:-50px;">' +
                ' </svg>';
        }, 500);

        recommend();
    }
</script>
<script type="text/javascript">
    function showMore(obj) {
        if (obj.style.webkitLineClamp > 3) {
            obj.style.webkitLineClamp = 3;
        }
        else {
            obj.style.webkitLineClamp = 12;
        }
    }

    function IsLogin() {
        $.ajax({
            url: "/BookDetail/IsLogin",
            data: {"novelId": novelId},
            type: "POST",
            success: function (msg) {
                if (msg != "yes") {
                    location.href = msg;
                } else {
                    $("#reward").show();
                }
            }
        });
    }

    //加入书架
    function AddUserBook(CartoonId) {
        var data = {"CartoonId": CartoonId};
        $.ajax({
            url: "AddUserBook",
            data: data,
            type: "POST",
            success: function (msg) {
                if (msg == "success") {

                    $("#add").hide();
                    $("#del").show();

                }
                else if (msg == "fail") {
                    alert("加入失败");
                }
            }
        });
    }


    var CartoonId = document.getElementById("novelId").value;
    var orderBy = "";
    var orderPageIndex = 0;
    var orderPageSize = 6;

    //章节正反序显示
    function IndexOrderBy(type) {
        //alert(orderPageIndex);
        var asc = document.getElementById("asc");
        var desc = document.getElementById("desc");
        if (type == 0) {
            asc.style.display = "none";
            desc.style.display = "block";
            orderBy = "asc";
        } else if (type == 1) {
            asc.style.display = "block";
            desc.style.display = "none";
            orderBy = "desc";
        }
        var data = {
            "cartoonId": $("#snovelId").val(),
            "pageStart": orderPageIndex,
            "pageSize": orderPageSize,
            "orderBy": orderBy
        };

        $.ajax({
            url: "GetIndexOrderBy",
            data: JSON.stringify(data),
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            beforeSend: function () {
                $(".spinner").show();
            },
            complete: function () {
                $(".spinner").hide();
            },
            success: function (msg) {
                if (msg.data != null) {
                    var html = "";
                    var lit = $("#chaptermb").html();
                    $.each(msg.data, function (idx, obj) {
                        var statusClass = obj.chapterStatus == 1 ? "vip" : "free";

                        var statusName = "";//0：免费    1：VIP   2：已读

                        var href = "/Cartoon/Read/" + CartoonId + "/" + obj.id;
                        if (obj.ChapterStatus == 0) {
                            statusName = "免费";
                        }
                        else if (obj.ChapterStatus == 1) {
                            statusName = "50" + "阅币";
                        }
                        else if (obj.ChapterStatus == 2) {
                            statusName = "已读";
                        }

                        html += lit.replace(/{href}/g, href).replace(/{name}/g, obj.name).replace(/{isfree}/g, statusName).replace(/{freeclass}/g, statusClass)
                            .replace(/{img}/g, obj.imgUrl);

                    });

                }

                $("#chapter").html(html);
                loadPicNow();
            }

        });
    }

    //判断小说是否显示      删除、隐藏的不显示 不能浏览
    function NovelIsShow() {
        $.ajax({ //异步数据加载
            type: "POST",
            url: "/BookDetail/IsShow",
            data: {"novelId": novelId},
            success: function (msg) {
                if (msg == "no") {
                    window.location.href = "UserCartoon";
                }
            }
        });
    }


    //是否有加入用户书架
    function IsRank() {
        var data = {"CartoonId": CartoonId};
        $.ajax({
            url: "IsRank",
            data: data,
            type: "POST",
            success: function (msg) {

                if (msg == "yes") {
                    $("#add").hide();
                    $("#del").show();
                }
            }
        });
    }
</script>

<script>
    var dArr = new Array();

    function recommend() {

        $.ajax({ //异步数据加载
            type: "POST",
            url: "/Cartoon/LoadRecom",
            success: function (msg) {
                var show = 0;
                var ft = msg.free;

                var li = "";
                $.each(msg.data, function (i, o) {
                    var r = o.list;
                    $(".fll").html(o.name);
                    //   console.log(o);

                    var lit = $("#litemp").html();
                    var vv = "";

                    $.each(r, function (j, v) {
                        dArr[dArr.length] = j;

                        show = 1;
                        var cname = "";
                        if (v.cname != "null" && v.cname != null) {
                            cname = v.cname;
                        }

                        li += lit.replace(/{id}/g, j).replace(/{nlink}/g, v.linkUrl).replace(/{cname}/g, cname).replace(/{img}/g, v.imgUrl).replace(/{upstate}/g, v.upstr)
                            .replace(/{author}/g, v.author).replace(/{name}/g, v.title).replace(/{summary}/g, v.summary).replace(/{imgurl}/g, v.imgUrl);

                    });


                });

                $(".book_list01").html(li);
                if (show == 1) {

                    for (var i = 0; i < 3; i++) {

                        var ra = rand(0, dArr.length - 1);
                        if (ra >= dArr.length) {
                            return false;
                        }

                        var eq = dArr[ra];
                        $("#showli" + eq).show();
                        console.log(dArr[ra]);
                        dArr.splice(ra, 1);

                    }

                    $("#recommdiv").show();
                }

            }
        });
    }

    function rand(minNum, maxNum) {
        switch (arguments.length) {
            case 1:
                return parseInt(Math.random() * minNum + 1, 10);
                break;
            case 2:
                return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                break;
            default:
                return 0;
                break;
        }
    }
</script>


</body>
</html>
