<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8">
    <meta content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport"/>

    <meta name="keywords" content="动漫,喵喵漫画动漫,漫画,动画,原创,正版,火影忍者,海贼王,捕王,充气女神,喵喵漫画官方网站"/>
    <meta name="description"
          content="正版动漫网站，连载众多原创国漫，原创动画，正版日漫等海内外最热正版动漫内容，为上千万动漫爱好者提供漫画、动画、资讯、论坛一站式全方位动漫服务，为原创动漫作者提供最优质的创作成长环境，为中国动漫产业打造梦想舞台。"/>
    <link href="/assets/css/base.css?v=22" rel="stylesheet" type="text/css">
    <link href="/assets/css/loading.css" rel="stylesheet"/>

    <title>喵喵漫画 - 个人中心</title>


    <link href="/assets/css/user.css?t=22" rel="stylesheet" type="text/css">


</head>
<body>


<section class="userinfo clf">

    <div class="w25" style="margin:30px auto 0 auto; text-align:center; position:relative; z-index:2">
        <img src="http://img1.xmh222.com//user/cover/31.jpg" onerror="this.src = '/assets/images/17.jpg'" width="60"
             height="60" style="border-radius:30px">
    </div>
    <div class="w90" style="margin:0 auto; text-align:center;position:relative; z-index:2">
        <span>用户名:PrRQTq9027316</span>
        <span>
            <i class="red redTag">0阅币 / VIP:0天</i>
        </span>
    </div>


    <div class="userBG" id="GaussianBlur"></div>

</section>


<input type="hidden" id="hiddloginUrl"
       value="http://read.ibananas.cn/back/check?tp=1&amp;cno=&amp;red=%2fuser%2findex&amp;au=ctn.xmh435.com"/>

<section class="block" style="margin-top:0;">
    <ul class="fun_list">

        <li>
            <i class="fun02 fl"></i>
            <a href="/my/task" class="fl">
                <span>任务中心（<span class="red">赚阅币</span>）</span>
            </a>
        </li>
        <li>
            <i class="fun01 fl"></i>
            <a href="/my/recharge" class="fl">
                <span>充值</span>
            </a>
        </li>


        <li>
            <i class="fun06 fl"></i>

            <a href="/my/bindphone" class="fl">
                <span class="red">绑定手机</span>
            </a>

        </li>


        <li>
            <i class="fun03 fl"></i>
            <a href="/user/rechargelist" class="fl">
                <span>充值记录</span>
            </a>
        </li>

        <li>
            <i class="fun04 fl"></i>
            <a href="javascript:;" class="fl">
                <span>
                    <a href="mqqwpa://im/chat?chat_type=wpa&amp;uin=3257494368&amp;version=1&amp;src_type=web&amp;web_src=oicqzone.com"
                       target="_blank">客服QQ：3257494368</a>

                </span>
            </a>
        </li>
    </ul>

</section>


<section class="block">

    <a href="/login" class="clickmore" style="color:#f66;">切换账户 / 找回阅币</a>

</section>


<section class="block">
    <div class="titleBar clf"><i class="fl">最近阅读</i></div>
    <ul class="book_list01" id="novelList"></ul>
    <a href="/Cartoon/UserCartoon" class="clickmore">查看全部</a>
</section>


<script type="text/html" id="litemp">
    <li>
        <a href="{nlink}">
            <img src="{img}" width="90" onerror="this.src = '/images/cover.jpg'"/>
        </a>
        <span class="booktitle">{name}</span>
    </li>

</script>


<div class="h50"></div>


<nav class="footnav clf">
    <a href="/"><span class="m01">推荐</span></a>
    <a href="/usercartoon"><span class="m05">书架</span></a>


    <a href="/cate"><span class="m03">分类</span></a>
    <a href="/my" class="selected"><span class="m04">我的</span></a>
    <!--class="selected"-->
</nav>


<script src="/assets/js/jquery.min.js?t=1"></script>


<script>

    window.onload = function () {
        GaussianBlur = document.getElementById("GaussianBlur");
        setTimeout(function () {
            GaussianBlur.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="wh100">' +
                '<filter id="blur">' +
                '<feGaussianBlur in="SourceGraphic" stdDeviation="40" />' +
                '</filter>' +
                '<image filter="url(#blur)" x="0" y="0" width="800" height="800" xlink:href="/assets/images/p.jpg" alt="" style=" margin-top:-50px; margin-left:-50px;">' +
                ' </svg>';
        }, 500);

    }


</script>
<script>
    $(function () {
        LoadMore(0);
    });

    function LoadMore(type) {

        var data = {"pageIndex": 0, "pageSize": 3};
        Info(data, type);
    }


    function Info(data, loadType) {

        $.ajax({
            url: "/Cartoon/LoadRecom",
            data: data,
            type: "POST",
            dataType: "json",
            success: function (msg) {
                //console.log(msg);

                if (msg.code == "0") {

                    var li = "";
                    var lit = $("#litemp").html();

                    $.each(msg.data, function (j, v) {

                        li += lit.replace(/{nlink}/g, v.linkUrl).replace(/{img}/g, v.imgUrl)
                            .replace(/{author}/g, v.author).replace(/{name}/g, v.title);

                    });

                    $("#novelList").html(li);


                }


            }
        });
    }


</script>


<script type="text/javascript">

    var ispc = "";

    function dianji() {
        if (ispc == "1") {
            location.href = $(".tengxunlogin").data("pc-href");
        } else {
            location.href = $("#hiddloginUrl").val();
        }
    }

</script>

</body>
</html>
